<td class="p-0">
    <a class="d-flex flex-wrap pt-3 pb-3 align-items-top align-items-lg-center" href="{{ href }}">
        <div class="col-5 col-sm-12 col-lg-2">
            <div class="paragraph color-blue">№ {{ id }}</div>
        </div>
        <div class="col-7 col-sm-4 col-lg-2 mt-0 mt-sm-2 mt-lg-0">
            <div class="label">Дата</div>
            <div class="paragraph">{{ date }}</div>
        </div>
        <div class="col-7 col-sm-4 col-lg-2 offset-5 offset-sm-0 mt-2 mt-lg-0">
            <div class="label">Вид работ</div>
            <div class="paragraph">{{ type-work }}</div>
        </div>
        <div class="col-7 col-sm-4 col-lg-2 offset-5 offset-sm-0 mt-2 mt-lg-0">
            <div class="label">Категория</div>
            <div class="paragraph">{{ category }}</div>
        </div>
        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
            <div class="label">Статус</div>
            <div class="paragraph">{{ status }}</div>
        </div>
    </a>
</td>