include mixins/mixins
doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Авторизация
        link(rel="shortcut icon" href="assets/image/favicon.ico")
        link(rel='stylesheet' href="assets/css/core.css")
        link(rel='stylesheet' href="assets/css/main.css")
    body
        .container-fluid.d-flex.p-xl-0.flex-wrap.container-main.container-centered
            .content
                .panel
                    h2.mb-4 Авторизация
                    form.ajax-form(novalidate)
                        input(type='hidden' name='action' value='callback')
                        .form-group.mb-3
                            label.mb-2 Логин
                            input.form-control(type="text" placeholder="Введите логин пользователя..." required="required" name='login')
                            .invalid-feedback
                        .form-group.mb-3
                            label.mb-2 Пароль
                            input.form-control(type="password" required="required" name='password')
                            .invalid-feedback
                        .form-group.mt-4
                            button.btn.btn-primary.btn-arrow.w-100(type='submit') Войти
                        .form-group.mt-4.text-center
                            a(href="password.html") Восстановить пароль
            include blocks/_modals
        script(src="assets/js/vendor.js")
        script(src="assets/js/custom.js")





