extends blocks/_layout
block variables
block title
    title Главная страница
block content
    .content

        .panel
            h1
                a(href="avtorisation.html") Авторизация
            h1
                a(href="password.html") Восстановление пароля
            h1
                a(href="lk-objects.html") Личный кабинет
            ul
                h2
                    a(href="lk-nachisleniya.html") Начисления
                h2
                    a(href="lk-platezhi.html") Платежи
                    ul
                        h3
                            a(href="lk-platezh-id.html") Новый платеж

                h2
                    a(href="lk-schetchiki.html") Показания счетчиков
                    ul
                        h3
                            a(href="lk-schetchik-id.html") Счетчик
                        h3
                            a(href="lk-schetchik-id3.html") Счетчик неактивный
                        h3
                            a(href="lk-schetchik-id2.html") Счетчик трехтарифный
                        h3
                            a(href="lk-schetchik-history.html") История показаний
                h2
                    a(href="lk-zayavki.html") Заявки
                    ul
                        h3
                            a(href="lk-zayavka-new.html") Новая заявка
                        h3
                            a(href="lk-zayavka-created.html") Созданная заявка
                h2
                    a(href="lk-cards.html") Карты и автоплатежи

