extends blocks/_lk
block variables
    -
        curLink = "lk-nachisleniya.html";
block lk-content
    .tab-pane.fade.show.active(role='tabpanel')
        .panel.panel-maininfo
            .d-flex
                .panel-content
                    form.row.mb-4(data-form-type='nachisleniya')
                        input(type='hidden' name='action' value='nachisleniya')
                        .col-12.col-sm-5.col-md-3.d-flex.align-items-center.justify-content-end.mb-3.mb-sm-0
                            label.d-inline-block.mr-2 с
                            input.form-control.input-date.d-inline-block(type="text" name='data-begin' placeholder='Дата' autocomplete='off')
                        .col-12.col-sm-5.col-md-3.d-flex.align-items-center.justify-content-end
                            label.d-inline-block.mr-2 по
                            input.form-control.input-date(type="text" name='date-end' placeholder='Дата' autocomplete='off')

                    table.table-simple.table-simple--wide(data-table-type='nachisleniya')