extends blocks/_lk
block variables
    -
        curLink = "lk-schetchiki.html";
block lk-content
    .tab-pane.fade.show.active(role='tabpanel')
        .panel.panel-maininfo
            .d-flex
                .panel-content
                    table.table-simple.table-simple--wide
                        tbody
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Газ
                                            .paragraph.color-blue № 3332366623
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 8857745,40
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .paragraph(style='color: #E61947') Требуется поверка!
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Горячее водоснабжение
                                            .paragraph.color-blue № 333236662355548
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 0
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Тепловая энергия
                                            .paragraph.color-blue № 3335548
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 0
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .paragraph(style='color: #E61947') Требуется поверка!
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Холодное водоснабжение
                                            .paragraph.color-blue № 3335545454544448
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 64,95
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Электричество
                                            .paragraph.color-blue № 12345678123
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 104,5555 - 206,5546 - 303,5547
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .paragraph(style='color: #E61947') Требуется поверка!
                            tr
                                td.p-0
                                    a.d-flex.flex-wrap.pt-3.pb-3.align-items-top.align-items-lg-center(href='lk-schetchik-id.html')
                                        .col-5.col-sm-12.col-md-3.col-lg-2.mb-sm-2.mb-md-0
                                            .label Холодное водоснабжение
                                            .paragraph.color-blue № T-50-1-17_хв_1555314
                                        .col-7.col-sm-4.col-md-3.col-lg-2
                                            .label Дата
                                            .paragraph 27.05.2021
                                        .col-7.col-sm-4.col-md-3.col-lg-3.offset-5.offset-sm-0.mt-2.mt-sm-0
                                            .label Показания
                                            .paragraph 555,00
                                        .col-7.col-sm-4.col-md-3.col-lg-2.offset-5.offset-sm-0.mt-2.mt-sm-0