extends blocks/_lk-id
block variables

block panel-header
    .row.mb-1.mb-sm-3.mb-xl-2
        .col-12.col-sm-6.order-2.order-sm-1.mt-2.mt-sm-0
            h1.d-inline Заявка № м000000032
        .col-12.col-sm-6.order-1.order-sm-2.text-right
            label Статус
            p.m-0.mobile-gray Ожидает регистрации
    .row.mt-4
        .col-12.col-sm-6.mb-3
            label Вид работ
            p.m-0 Авария
        .col-12.col-sm-6.mb-3
            label Категория
            p.m-0 Трещина в стене
        .col-12.mb-3
            label Описание
            p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla ligula id odio faucibus, in scelerisque ipsum congue. Donec vitae porta nunc, eu varius risus. Ut cursus sodales lorem et tincidunt. Nam faucibus hendrerit risus ac facilisis. Quisque blandit velit magna, id pretium lectus interdum sit amet. Suspendisse potenti. Proin leo enim, semper sed tellus sed, dignissim pulvinar justo. In placerat pulvinar placerat.
        .col-12
            label Фотографии
            ul
                li
                    a(href='#') Название фото 1
                li
                    a(href='#') Название фото 2
                li
                    a(href='#') Название фото 3

block panel-content

    h3.mb-3 Контактная информация
    .row.mb-4
        .col-12
            label Контактное лицо
            p.m-0 Виктория
    .row.mb-4
        .col-12
            label Адрес
            p.m-0 Деревня Черная, ул.Красная, д.11, стр.4, парадная 2
    .row
        .col-12
            label Примечание
            p.m-0 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fringilla ligula id odio faucibus, in scelerisque ipsum congue. Donec vitae porta nunc, eu varius risus. Ut cursus sodales lorem et tincidunt. Nam faucibus hendrerit risus ac facilisis. Quisque blandit velit magna, id pretium lectus interdum sit amet. Suspendisse potenti. Proin leo enim, semper sed tellus sed, dignissim pulvinar justo. In placerat pulvinar placerat.